body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa; /* Fundo suave */
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Usa a altura total da tela */
    justify-content: center;
}

header {
    text-align: center;
    width: 100%; /* Usa toda a largura */
}

#titulo {
    background-color: rgb(173, 58, 145);
    color: azure;
    padding: 20px;
    font-size: 2.5em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: calc(100% - 40px); /* Largura total menos margens */
    max-width: 800px; /* Limita a largura máxima */
}

img {
    margin: 20px auto;
    display: block;
    border-radius: 15px;
    max-width: 100%; /* Ocupa a largura total */
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 40px); /* Largura total menos margens */
    max-width: 800px; /* Limita a largura máxima */
    text-align: left;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 1.1em;
}