header {
    text-align: center;
    width: 100%; /* Usa toda a largura */
    background-color: rgb(173, 58, 145);
    color: azure;
    padding: 20px;
    font-size: 2.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.meio{
    margin: auto;
    display: block;

}
.buttonClass {
    font-size: 2.5em;
    font-family: Arial, sans-serif;
    width: 2em;
    height: auto;
    border: 1px solid #ee1eb5;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px; /* Rounding corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0px 1px 0px #fbafe3; /* Enhanced shadow */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Softer text shadow */
    background: linear-gradient(135deg, #ff5bb0, #ef027d); /* Diagonal gradient */
    transition: background 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    cursor: pointer; /* Pointer on hover */
}

.buttonClass:hover {
    background: linear-gradient(135deg, #ef027d, #ff5bb0); /* Reverse gradient */
    transform: translateY(-2px); /* Slight lift effect */
}
